<div id="<%= dom_id session %>">
  <% if session.ended_at.nil? %>
    <h1 class="text-center text-6xl py-4 permanent-marker-regular text-gray-900 mb-6">
      I'm working on
    </h1>
    <% else %>
    <h1 class="text-center text-6xl py-4 permanent-marker-regular text-gray-900 mb-6">
      I worked on
    </h1>
  <% end %>
  <h1 class="text-center text-6xl py-4 permanent-marker-regular text-gray-900 mb-6">
    <%= session.name %>
  </h1>

  <div class="flex justify-between py-2">
    <h1 class="text-2xl">
      <%= session.started_at.strftime("%B %d, %Y") %>
    </h1>

    <h1 class="text-2xl">
      <% if session.ended_at.nil? %>
        In Progress (<%= time_ago_in_words(session.started_at) %>)
      <% else %>
        <%= distance_of_time_in_words(session.started_at, session.ended_at) %>
      <% end %>
    </h1>
  </div>
</div>
